@model IEnumerable<MVCOnlineOtomasyonSystem.Models.Siniflar.SatisHareket>

@{
    ViewBag.Title = "CariSatis";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Cari Satis Hareketleri</h2>

<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Cari Adı Soyadı: @ViewBag.dpt1 @ViewBag.dpt2</li>
</ol>


<table class="table">
    <tr>
        <th>Ürün</th>
        <th>Tarih</th>
        <th>Adet</th>
        <th>Fiyat</th>
        <th>ToplamTutar</th>        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@item.Urun.UrunAd</td>
        <td>@item.Tarih</td>
        <td>@item.Adet</td>
        <td>@item.Fiyat</td>
        <td>@item.ToplamTutar</td>        
    </tr>
}

</table>
