@using MVCOnlineOtomasyonSystem.Models.Siniflar
@model List<Faturalar>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<p>
    @Html.ActionLink("Yeni Fatura Girişi", "FaturaEkle")
</p>
<table class="table table-bordered">
    <tr>
        <th>Fatura ID</th>
        <th>Seri No</th>
        <th>Sıra No</th>
        <th>Vergi Dairesi</th>
        <th>Fatura Tarihi</th>
        <th>Fatura Saati</th>        
        <th>Teslim Alan</th>
        <th>Teslim Eden</th>
        <th>Toplam Tutar</th>
        <th>Detaylar</th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>@item.FaturaID</td>
    <td>@item.FaturaSeriNo</td>
    <td>@item.FaturaSiraNo</td>
    <td>@item.VergiDairesi</td>
    <td>@item.Tarih</td>
    <td>@item.Saat</td>
    <td>@item.TeslimAlan</td>
    <td>@item.TeslimEden</td>
    <td>@item.ToplamTutar</td>
    <td><a href="/Fatura/FaturaDetay/@item.FaturaID" class="btn btn-default" style="background-color:lightcoral">Detay</a></td>
</tr>
    }

</table>

