@using MVCOnlineOtomasyonSystem.Models.Siniflar
@model List<Personel>

@{
    ViewBag.Title = "DepartmanDetay";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>Departman Detay Sayfası</h2>
<br />
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Departman adı : @ViewBag.dpt1 </li>
</ol>
<table class="table table-hover">
    <tr>
        <th>Personel ID</th>
        <th>Adı</th>
        <th>Soyadı</th>
        <th>Görsel</th>
        <th>Satışlar</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.PersonelID</td>
            <td>@item.PersonelAd</td>
            <td>@item.PersonelSoyad</td>
            <td>@item.PersonelGorsel</td>
            <td><a href="/Departman/DepartmanPersonelSatis/@item.PersonelID" class="btn btn-success">Satışlar</a></td>
        </tr>
    }
</table>
